<!DOCTYPE html>
<html>
  <head>
    <title>Yall</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <%= stylesheet_link_tag 'application', media: 'all' %> 
      <%= javascript_include_tag 'application' %>

      <script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.google[:api_key] %>"></script>
      

      <script type="text/javascript">
        window.home1URL = "<%= image_url('home1.jpg') %>";
        window.home2URL = "<%= image_url('home2.jpg') %>";
        window.home3URL = "<%= image_url('home3.jpg') %>";
        window.home4URL = "<%= image_url('home4.jpg') %>";
        window.home5URL = "<%= image_url('home5.jpg') %>";
      </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>


