<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Yallr</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <%= javascript_include_tag 'application' %>
      <%= stylesheet_link_tag 'application', media: 'all' %> 
     

      <script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.google[:api_key] %>"></script>
      <script src="https://kit.fontawesome.com/535114959b.js" crossorigin="anonymous"></script>
      

      <script type="text/javascript">
        window.home1URL = "<%= image_url('home1.jpg') %>";
        window.home2URL = "<%= image_url('home2.jpg') %>";
        window.home3URL = "<%= image_url('home3.jpg') %>";  
        window.home4URL = "<%= image_url('home4.jpg') %>";
      </script>

      <script type="text/javascript">
        window.newbiz1URL = "<%= image_url('newbiz1.jpg') %>";
        window.newbiz2URL = "<%= image_url('newbiz2.jpg') %>";
      </script>

      <script type="text/javascript">
        window.login1URL = "<%= image_url('login1.jpg') %>";
        window.login2URL = "<%= image_url('login2.jpg') %>";
      </script>

      <%= favicon_link_tag asset_path('favicon.ico') %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>


